.page-wrap {
  min-height: calc(100vh - 100px);
}

.site-footer {
  height: 100px;
  background-color: #3b4d64;
  text-align: center;
  color: white;
}

.inputsize{
  width: 30px;
  text-align: center;
  margin-left: 10px;
}